body{
    min-height: 100vh;
    padding-left: 300px;
    padding-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.header{

    background-color: #1F2937;
    color: white;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}

.left-links{
    display: flex;
    justify-content: left;

}
.right-links{
    display: flex;
    justify-content: right;
}
ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
}
.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    list-style-type: none;
    padding-left: 15px;
    color: white;
}

.top{
    background-color: #1F2937;
    color: white;
    min-height: 21vh;
    display: flex;
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
}
.text-one{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FaF8;
    margin:0px
}
.text-two{
    font-size: 18px;
    margin-bottom: 6px;
}
.text-three{
    font-size: small;
    font-style: italic;
    text-align: center;
    padding-right: 35px;
}
.text-four{
    font-size: x-large;
    font-style: italic;

}
.text-five{
    font-size: large;
    font-weight: bolder;

    display: flex;
    justify-content: right;
}
.button,
.button-two {
    background-color: blue;
    color: #F9FaF8;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 20px;
}
.button-border{
    display: flex;
   
}

.img {
  
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
 }
 /*
 .first-image{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }*/

 .mid{
    min-height: 21vh;
    background-color: #F9FaF8;
    display: flex;
    padding-left: 210px;
    padding-right: 250px;
  
    padding-bottom: 70px;

}

 .information{
    background-color: #F9FaF8;
     font-size: 36px;
     font-weight: extra-bold;
     color: #1F2937;
     text-align: center;
     padding: 40px;

     display: flex;
     flex: 1;
     justify-content: center;
 }
 .images{
     display: flex;
     justify-content: space-between;
 }    

 .image{
     border: 2px solid blue;
     height: 150px;
     width: 150px;
 
     border-radius: 20px;
 }

 .mid-bottom{
    min-height: 21vh;
    background-color: #e5e7eb;
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 70px;
    padding-bottom: 70px;
 }
 .bottom{
    min-height: 21vh;
    background-color: #F9FaF8;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 70px;
    padding-bottom: 70px;
    justify-content: center;
    align-items: center;
 }
 .action-box{
    background-color: rgba(10, 95, 165, 0.973);
    color: white;
    display: flex;
    height: 100px;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-right: 40px;
       
}
 .footer{
    background-color: #1F2937;
    color: white;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
 }
h3{
    margin: 0px;
}